@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
.noto-serif-fonts {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}








/* sher style */
.display-flex{
    display: flex;
}
main{
  max-width: 1440px;
  margin: 0 auto;
}
main>section{
    margin-top: 130px;
}














/* navber */
.navber, .banner{
  max-width: 1440px;
  margin: 0 auto;
}
.navber{
    justify-content: space-between;
    align-items: center;
}
.menu a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(137, 135, 161, 1);
  margin-right: 48px;



}
#Home{
  font-weight: 900;
  color: rgba(37, 36, 50, 1);


}
#Cart{
  color: rgba(0, 0, 0, 1);
}
/* banner */
.banner-title{
  font-size: 4rem;
  font-weight: bold;
  color: rgba(233, 90, 8, 1);
}
.banner-description{
  font-size: 1.4rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  
}
.banner{
  justify-content: space-between;
  margin-top: 221px;
}
.ALWAYS{
  color:rgba(0, 0, 0, 1) ;
}
.Plants-Section{
  text-align: center;
}





/* Plants Section */
.cards-plants{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  

  justify-items: center;
}
.cards{
  width: 270px;
  padding: 15px;
  
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.cards img {
  width: 100%;
  height: auto;

}
.cards-button{
  background-color: rgba(233, 90, 8, 1);
  color: rgba(255, 255, 255, 1);
  padding: 26px 90px;
  border: none;
  
}
.Our{
  color:rgba(233, 90, 8, 1) ;
}
.plants-title{
  color:rgba(0, 0, 0, 1) ;
  font-size: 3.2rem;
  font-weight: bold;
}
.plants-description{
  font-size:1.2rem ;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.5);
}
/* Plants Lover  */
.Plants-Lover-Section{
  /* width: 1140px; */
  /* max-width: 900px; */
  justify-content: space-between;

}

.badge{
  width: 286px;
  height: 286px;
}
.Plants-Lover-item li {
  font-size: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;

}
.Plants-Lover-item{
  padding: 30px;
  width: 50%;
}
.plants-Lover img {
  width: 100%;
  height: 100%;
  object-fit: cover;



}
.Flower{
  font-size: 3.2rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}
.badge{
  margin-top: -120px;
  margin-left: -200px;
}




.Join-Section{
  background-image: url(../assets/news-letter-bg.png);
  width: 1440px;
  height: 533px;
}
.join-Section-img{
  text-align: center;
  /* margin-top: 199px; */
  padding-top: 199px;
}
.Join-Section-title{
  font-size: 3.2rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);

}
.join-button{
  width: 830px;
  height: 50px;
}
#input-Subscribe{
  width: 644px;
  height: 50px;
}
.button-subscribe{
  width:186px;
  height: 50px;
}







@media screen  and(mx-witdh:576px ){
  .menu{
    
  }
  
}